       server {
	listen       1666 default_server;
        server_name  _;
        root         /var/www/html;


	include /etc/config/rp.locations;
	include /etc/config/skynet-nginx.locations;

    }


